.l-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    color: #fff;
    background-color: rgb(107, 106, 106);
    padding: 0px 5px 50px 5px;
    nav {
        ul {
            display: flex;
            margin-top: 25px;
            li {
                font-size: 1rem;
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }
                @include breakpoint ( pc ) {
                    font-size: 1.3rem;
                    margin-right: 60px;
                }
                a {
                    color: #fff;
                }
            }
        }
    }
    small {
        font-size: 1rem;
        margin-top: 15px;
        @include breakpoint ( pc ) {
            font-size: 1.3rem;
        }
    }
}