@use "../../foundation/base";

$btnWidth: 20px;
$btnHeight: 1px;

.p-hamburger {
    width: 60px;//hamburgerIconの枠
    height: 60px;
    background-color: rgb(107, 106, 106);
    position:         relative;
    border:           0;
    @include breakpoint ( pc ) {
        display: none;
    }
    &::before,
    &::after {
        content: "";
        width:      $btnWidth;
        height:     $btnHeight;
        background: base.$bg;
        position:   absolute;
        left:       calc( 50% - ( #{$btnWidth} / 2 ) );
        display:    block;
        transition: transform 0.2s;
    }
    &::before {
        top: 22px;
    }
    &::after {
        top: 38px;
    }
    > span { //hamburgerIconの棒
        width:           $btnWidth;
        height:          $btnHeight;
        font-size:       0;
        background:      linear-gradient( to  right, base.$bg, base.$bg      ) repeat-x base.$bg;
        background-size: auto             $btnHeight;
        position:        absolute;
        left:            calc(            50% -      (        #{$btnWidth} / 2        ) );
        top:             50%;
        transition:      transform 0.2s;
    }
    &.is-open {
        &::before,
        &::after {
            width:40px;
            left:calc( 50% - ( 40px / 2 ) );
        }
        &::before {
            transform: rotate( 45deg );
            top:       28px;
        }
        &::after {
            transform: rotate( -45deg );
            top:       28px;
        }
        > span {
            background: none;
        }
    }
}
