.p-mainvisual {
    width:               100%;
    height:              calc(  100vh - 60px );
    background-image:    url("../img/pedro-henrique-santos-4IoS45J9pmk-unsplash.jpg");
    background-repeat:   no-repeat;
    background-position: center center;
    background-size:     cover;
    margin-bottom:       50px;
    top:                 60px;
    position:            relative;
    display:             flex;
    align-items:         center;
    z-index:             -1;
    @include breakpoint ( pc ) {
        height:          calc( 100vh - 120px );
        margin-bottom:   120px;
        top:             120px;
    }
}
