@use "../../foundation/base";

.p-section {
    padding-top: 90px;
    margin-top: -30px;
    width: 94%;
    margin: 0 auto;
    @include breakpoint( pc ) {
        padding-top: 120px;
        margin-top: -60px;
        width: 80%;
    }
    &--about {
        @extend .p-section;
        > ul {
            margin: 0 auto 15px;
            @include breakpoint ( pc ) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &--post {
        @extend .p-section;
        padding-bottom: 35px;
        ul {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
            @include breakpoint ( pc ) {
                flex-direction: inherit;
                flex-wrap: wrap;
                align-items: inherit;
            }
            li {
                padding-top: 45px;
                width: 85%;
                align-items: center;
                @include breakpoint ( pc ) {
                    padding-top: 35px;
                    width: calc( (100% - 120px) / 3);
                    align-items: inherit;
                }
                a {
                    display: block;
                    color: base.$text;
                    text-decoration: none;
                    &:hover {
                        p {
                            text-decoration: underline;
                        }
                        img {
                            transform: scale(1.1);
                        }
                    }
                    div:first-child {
                        overflow: hidden;
                        border-radius: 15px;
                        img {
                            width: 100%;
                            height: 52.65%;
                            transition: all ease 0.3s;
                        }
                    }
                    div:nth-child( 2 ) {
                        background-color: #fff;
                        padding: 15px;
                        time {
                            font-size: 1.2rem;
                        }
                        > p {
                            font-size: 1.5rem;
                            padding-bottom: 7.5px;
                        }
                    }
                }
            }
        }
    }
    &--contact {
        @extend .p-section;
    }
    &--single {
        @extend .p-section;
        > div {
            padding-bottom: 25px;
            @include breakpoint ( pc ) {
                padding-bottom: 0;
            }
            > div {
                background-color: #fff;
                padding: 35px;
                time {
                    font-size: 1.4rem;
                    padding-bottom: 2.5px;
                }
                p {
                    font-size: 1.65rem;
                    padding-bottom: 17.5px;
                }
                img {
                    width: 100%;
                    padding-bottom: 20px;
                }
                div {
                    display: block;
                    a {
                        text-decoration: none;
                        color: base.$accent;
                        font-size: 1.6rem;
                        word-break: break-all;
                    }
                }
            }
        }
    }
}
