//ブレイクポイントの設定
@mixin breakpoint( $point ) {
    @if $point == pc {
        @media ( min-width: 767px ) {
            @content ;
        }
    }
}

//追加フォント
@mixin oswald( $weight: "400" ) {
    font-family: 'Oswald', sans-serif;
    font-weight: $weight;
}

//ルートサイズの調整
:root {
    font-size: 62.5%;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    min-width: 350px;
    width: 100%;
    font-family: 'Noto Sans JP', Arial;
    overflow-x: hidden;
    position: relative;
}

/*--------------------------------------------
    サイトカラー
---------------------------------------------*/
$bg : #fffff6;//背景色 #fefef9
$text : #474554;//pタグの色
$accent : #007bb3;//titleなどの色
$pageTop_hover : #daa577;
$contact_th : #f3f3f3;
