@use "../../foundation/base";
.c-button{
    &--post {
        display: flex;
        justify-content: center;
        text-decoration: none;
        padding-top: 30px;
        p {
            display: inline-block;
            position: relative;
            font-size: 1.25rem;
            padding: 1em 2.5em;
            background-color: base.$accent;
            color: #fff;
            border-bottom: 5px solid #035d86;
            border-radius: 10px;
            transition: all 0.15s;
            box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
            &:hover{
                margin-top: 3px;
                color: #fff;
                background-color: #0484c0;
                border-bottom: 2px solid #035d86;
            }
            i {
                padding-left: 10px;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

//contactForm7のボタン
/*
input{
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 1.25rem;
    width: 100%;
    padding: 1em 2.5em;
    margin: 0;
    background-color: base.$accent;
    color: #fff;
    border-bottom: 5px solid #035d86;
    border-radius: 10px;
    transition: all 0.15s;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    &:hover{
        margin-top: 3px;
        color: #fff;
        background-color: #0484c0;
        border-bottom: 2px solid #035d86;
    }
    @include breakpoint ( pc ) {
        width: auto;
    }
}
*/
